*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  @media (max-aspect-ratio: 7/10) {
  
    .Box{
        height: 100% !important;
        width: 100% !important; 
    }
  
    .top{
        height: 10% !important;
    }
  
    .toph{
        margin: 8vw !important;
        font-size: 5vw !important;
        border-bottom: none !important;
    }
    
    .close{
        margin: 6vw !important;
        height: 3vh !important;
        width: 8vw!important;
        transform: scale(2) !important;
        font-size: 2.6vw !important;
    }
    .close:hover{
        transform: scale(3.2) !important;
    }
  
    .chatting{
         height: 80% ;
       }
  
       .sendBox{
        height: 10% !important;
    }
  
    #chat{
        padding: 4vw !important;
        font-size: 4.6vw !important;
    }
  
    .toplevel{
        padding: 3vw !important;
        margin: 3vw !important;
        border-radius: 1.5vw !important;
        font-size: 4vw !important;
    }
    .sendbutton{
        margin: 3vw !important;
        height: 3vh !important;
        width: 8vw!important;
        transform: scale(2) !important;
        font-size: 2.3vw !important;
    }
  }
  
  